body{
    background-color: chocolate;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
#container{
    background-color: white;
    padding: 25px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 400px;
    height: 200px;
}
#guessno ,#wrg{

align-items: center;

}